@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply relative inline-flex items-center justify-center px-4 py-2.5 text-white overflow-hidden text-sm font-medium rounded-lg bg-purple-600 hover:text-white focus:outline-none;
  }

  .room-card {
    color: rgb(147 51 234);
    cursor: pointer;
    transform: translate(0, 0);
    transition: all 0.1s ease;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #e5e7eb;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #e5e7eb; /* Cor do fundo */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    /* background-color: #4b5563; */
    border-radius: 9999px;
    border: 2px solid #e5e7eb;

    @apply bg-gray-600;
  }
}
